# =========================
# APP ENVIRONMENT
# =========================
CI_ENV=development

# development | demo | testing | production

# =========================
# DATABASE
# =========================
DB_HOST=127.0.0.1
DB_DATABASE=liderlux_db
DB_USERNAME=liderlux_user
DB_PASSWORD=secret